<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the MVP project <a href="https://www.army.mod.uk/who-we-are/corps-regiments-and-units/royal-armoured-corps/royal-lancers/">The Royal Lancers</a>.</p>
    </div>
</div>