<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
 <% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to VLancer!</h1>
            <p>The online portal for former Lancers and their families. </p>
            <%= link_to "The Royal Lancers »", "https://www.army.mod.uk/who-we-are/corps-regiments-and-units/royal-armoured-corps/royal-lancers/", target: '_blank', class: "btn btn-primary btn-lg" %> 
             
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Benevolence</h2>
                <p>Discover how the Regiment continues to support soldiers and their families after they leave.  Find out about:</p>
                <p>FUNDS that you can apply to for support when you leave.</p>
                <p>PEOPLE who will make time to talk to you about future careers and some of the challenges associated with leaving the Army.</p>
                <p>CHARITABLE EVENTS being organized near you to support our work.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Rememberance</h2>
                <p>Who we were will always inform who we are today:</p>
                <p>Behind the Royal Lancers stand 9th/12th Royal Lancers (Prince of Wales's) and the Queens Royal Lancers behind whom were the 16th/5th The Queens Royal Lancers and 17/21st Lancers.</p>
                <p>Discover more about our collective history and the soldiers who have served as Lancers.</p> 
               
                
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Community</h2>
                <p>Once a Lancer always a Lancer - V Lancer hosts a virtual community for former soldiers and their families: </p>
                <p>STAY IN TOUCH with former colleagues and friends from the Regiment.</p>
                <p>POST & DISCOVER civilian job opportunities which are supported by our network.</p>
                <p>ATTEND social events being organized in your communnity.</p> 
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>